/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(----card-text-weight);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  color: var(--accent-color);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 0 122px;
  font-family: var(--accent-font);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  margin: 100px auto;
  max-width: var(--card-width);
  outline: none;
}

.header__logo {
  color: var(--accent-color);
  font-size: 65px;
  text-decoration: none;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.header__title {
  color: var(--accent-color);
  font-size: 23px;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: var(--background-color);
}

.card {
  max-width: var(--card-width);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.card__title {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--card-title-weight);
  border-bottom: 2px solid var(--accent-color);
}

.card__image-container {
  position: relative;
  border-bottom: 2px solid var(--accent-color);
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-transform: uppercase;
}

@supports ((text-stroke: 1px var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color))) {
  .card__label {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
}

.card__content {
  padding: 25px;
}

.card__text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' var(--card-text-weight);
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.filter-blur {
  filter: blur(5px);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-sepia {
  filter: sepia(0.7);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-invert {
  filter: invert(0.8);
}

.filter-multiple {
  filter: sepia(0.5) hue-rotate(30deg) saturate(1.2);
}

.filter-contrast {
  filter: contrast(150%);
}

.card__icon-button { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  inline-size: 41px; 
  block-size: 38px; 
  background-color: transparent; 
  border: 2px solid transparent; 
  padding: 0; 
  cursor: pointer; 
  transition: border-color 0.3s ease; 
  position: relative; 
  overflow: visible; 
} 
 
.card__icon-button:focus { 
  outline: none; 
} 
 
.card__icon-button:focus-visible { 
  border-color: var(--accent-color); 
} 
 
.like-icon { 
  display: block; 
  width: 39px; 
  height: 36px; 
  transform-origin: center; 
  margin: 0 auto; 
} 
 
.card__icon-button svg { 
  display: block; 
  margin: 0 auto; 
} 
 
.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  position: relative;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.dialog__button {
  grid-column: 1 / -1;
  width: 100%;
  padding: 10px 0;
  text-transform: uppercase;
}

.save-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 20px;
  margin: 0 auto 100px;
  background-color: var(--background-color);
}

.save-button svg {
  width: 21px;
  height: 21px;
  fill: currentColor;
  position: relative;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.dialog {
  padding: 0;
  border: 2px solid var(--accent-color);
  background: var(--background-color);
  max-width: 357px;
  margin: auto;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  padding: 30px;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
  align-items: center;
}

.dialog__text {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .header {
    padding: 120px 0;
  }

  .card__label {
    font-variation-settings: 'wght' var(----card-title-weight);
  }
  
  .card__content {
    padding: 25px;
  }
  
  .dialog__content {
    padding: 20px;
    grid-template-columns: 1fr;
    text-align: center;
  }
  
  .save-button {
    flex-direction: column;
    gap: 8px;
    padding: 16px 20px;
  }

  .save-button svg {
    width: 28px;
    height: 28px;
  }

  .header__logo {
    font-size: 49px;
  }

  .header__title {
    font-size: 14px;
  }
}